<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.catchup.mapper.MonitMapper">
	
    <insert id="monitInsert" parameterType="kr.catchup.mapper.MonitVo">
		insert into t_monitor (monit_area,monit_done,monit_infected,user_id,res_seq)
		values(#{monit_area},#{monit_done},#{monit_infected},#{user_id},#{res_seq})
	</insert>
	
    <select id="selectMonit" parameterType="kr.catchup.mapper.MonitVo" resultType="kr.catchup.mapper.MonitVo">
		select * from t_monitor where user_id=#{user_id};
	</select>
	
    <select id="getInfected" parameterType="kr.catchup.mapper.MonitVo" resultType="String">
		select count(monit_infected)/(select count(monit_done) from t_monitor where user_id=#{user_id} and monit_done=1 )*100 from t_monitor where user_id=#{user_id} and monit_done=1 and monit_infected=1 ;		
	<!-- 서브쿼리를 활용.  -->
	</select>
	
    <select id="Infectivity" parameterType="kr.catchup.mapper.MonitVo" resultType="kr.catchup.mapper.MonitVo">
        select monit_area, monit_infected from t_monitor
        where user_id = #{user_id}
		and DATE_FORMAT(#{monit_time},'%y/%M/%D') = DATE_FORMAT(monit_time,'%y/%M/%D')
    </select>
	
		
</mapper>